<footer class="footer">
         
    <div class="footer-things">
       <div class="image-random">
             <img height="25px" style="border-radius: 10px;" src="assets/Animedas.png">
       </div>

       <div class="footer-center">
          
         <a href="https://github.com/xDaswx/animedas" target="_blank" class="subs">Github</a>
         <a href="/docs.html" class="subs">Documentation</a>
         <a href="gallery/random" class="subs">Gallery</a>
         <a href="https://github.com/xDaswx" target="_blank" class="subs">Contact</a>
       </div>
    
    </div>
 
 </footer>